{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "extends": [
    "airbnb-base",
    "plugin:vue/essential"
  ],
  "plugins": ["vue"],
  "rules": {
    // "vue/max-attributes-per-line": ["error", {
    //   "singleline": 1,
    //   "multiline": 1
    // }]
  },
  "settings": {
    "import/core-modules": [
      "vue",
      "vuex"
    ],
    "import/resolver": {
      "nuxt": {
        "extensions": [
          ".js",
          ".vue"
        ]
      }
    }
  }
}
