$body-font-family = Montserrat, sans-serif

$font-weights = {
  thin: 100,
  light: 300,
  regular: 400,
  medium: 600,
  bold: 700,
  black: 900
}

$headings = {
  h1: { size: 112px, weight: 700, line-height: 1, letter-spacing: -.03em, font-family: $heading-font-family },
  h2: { size: 56px, weight: 700, line-height: 1.35, letter-spacing: -.03em, font-family: $heading-font-family },
  h3: { size: 45px, weight: 700, line-height: 48px, letter-spacing: -.03em, font-family: $heading-font-family },
  h4: { size: 34px, weight: 700, line-height: 40px, letter-spacing: -.03em, font-family: $heading-font-family },
  h5: { size: 24px, weight: 600, line-height: 32px, letter-spacing: -.03em, font-family: $heading-font-family },
  h6: { size: 20px, weight: 600, line-height: 1, letter-spacing: -.03em, font-family: $heading-font-family },
  subheading: { size: 16px, weight: 600 },
  body-2: { size: 14px, weight: 600 },
  body-1: { size: 14px, weight: 400 },
  caption: { size: 12px, weight: 400 }
}

.display-4
.display-3
.display-2
.display-1
.headline
.title
.subheading
  text-transform: lowercase

$nikolai-colors = {
  blue: {
    primary: #008cd2,
    secondary: #00aee4,
  },
  red: {
    primary: #c20839,
    secondary: #eb1755,
  },
  green: {
    primary: #00a532,
    secondary: #00c789,
  },
  purple: {
    primary: #935782,
    secondary: #b18fac,
  },
  orange: {
    primary: #dd731d,
    secondary: #fd8713,
  },
}

$colors = {
  blue: {
    base: $nikolai-colors.blue.primary,
  },
  red: {
    base: $nikolai-colors.red.primary,
  },
  green: {
    base: $nikolai-colors.green.primary,
  },
  purple: {
    base: $nikolai-colors.purple.primary,
  },
  orange: {
    base: $nikolai-colors.orange.primary,
  },
}

.blue
  .v-avatar .picture
  .v-image
    background-color: $nikolai-colors.blue.secondary
    // color: $nikolai-colors.blue.secondary
  .theme--dark.v-divider
    border-color: $nikolai-colors.blue.secondary
.red
  .v-avatar .picture
  .v-image
    background-color: $nikolai-colors.red.secondary
    // color: $nikolai-colors.red.secondary
  .theme--dark.v-divider
    border-color: $nikolai-colors.red.secondary
.green
  .v-avatar .picture
  .v-image
    background-color: $nikolai-colors.green.secondary
    // color: $nikolai-colors.green.secondary
  .theme--dark.v-divider
    border-color: $nikolai-colors.green.secondary
.purple
  .v-avatar .picture
  .v-image
    background-color: $nikolai-colors.purple.secondary
    // color: $nikolai-colors.purple.secondary
  .theme--dark.v-divider
    border-color: $nikolai-colors.purple.secondary
.orange
  .v-avatar .picture
  .v-image
    background-color: $nikolai-colors.orange.secondary
    // color: $nikolai-colors.orange.secondary
  .theme--dark.v-divider
    border-color: $nikolai-colors.orange.secondary

div.v-tooltip__content
  box-shadow: none
  background-color: $nikolai-colors.green.secondary

@import '~vuetify/src/stylus/app'
