$body-font-family = Montserrat, sans-serif

$font-weights = {
  thin: 100,
  light: 300,
  regular: 400,
  medium: 600,
  bold: 700,
  black: 900
}

$headings = {
  h1: { size: 112px, weight: 700, line-height: 1, letter-spacing: -.03em, font-family: $heading-font-family },
  h2: { size: 56px, weight: 700, line-height: 1.35, letter-spacing: -.03em, font-family: $heading-font-family },
  h3: { size: 48px, weight: 700, line-height: 50px, letter-spacing: -.03em, font-family: $heading-font-family },
  h4: { size: 34px, weight: 700, line-height: 36px, letter-spacing: -.03em, font-family: $heading-font-family },
  h5: { size: 24px, weight: 600, line-height: 32px, letter-spacing: -.03em, font-family: $heading-font-family },
  h6: { size: 20px, weight: 600, line-height: 1, letter-spacing: -.03em, font-family: $heading-font-family },
  subheading: { size: 16px, weight: 600 },
  body-2: { size: 14px, weight: 600 },
  body-1: { size: 14px, weight: 400 },
  caption: { size: 12px, weight: 400 }
}

.display-4
.display-3
.display-2
.display-1
.headline
.title
.subheading
  text-transform: lowercase

$nikolai-colors = {
  blue: {
    primary: #008cd2,
    secondary: #00aee4,
  },
  red: {
    primary: #c20839,
    secondary: #eb1755,
  },
  green: {
    primary: #00a532,
    secondary: #00c789,
  },
  purple: {
    primary: #935782,
    secondary: #b18fac,
  },
  orange: {
    primary: #dd731d,
    secondary: #fd8713,
  },
}

$colors = {
  blue: {
    base: $nikolai-colors.blue.primary,
  },
  red: {
    base: $nikolai-colors.red.primary,
  },
  green: {
    base: $nikolai-colors.green.primary,
  },
  purple: {
    base: $nikolai-colors.purple.primary,
  },
  orange: {
    base: $nikolai-colors.orange.primary,
  },
}

.blue
  .theme--dark.v-expansion-panel li.v-expansion-panel__container
    background-color: $nikolai-colors.blue.primary
  .v-avatar .v-avatar
  .v-avatar .material-design-icon
  .v-image
  .v-lazy-image
  .theme--dark.v-btn:not(.v-btn--icon):not(.v-btn--flat)
  .theme--dark.v-input--slider .v-slider__track, .theme--dark.v-input--slider .v-slider__track-fill
  .theme--dark.v-chip
    background-color: $nikolai-colors.blue.secondary
    // color: $nikolai-colors.blue.secondary
  .card div.v-avatar::before
    border-bottom-color: $nikolai-colors.blue.primary
  .theme--dark.v-divider
    border-color: $nikolai-colors.blue.secondary
  .logo_svg__primary
    fill: $nikolai-colors.blue.primary
  .logo_svg__secondary
    fill: $nikolai-colors.blue.secondary
.red
  .theme--dark.v-expansion-panel li.v-expansion-panel__container
    background-color: $nikolai-colors.red.primary
  .v-avatar .v-avatar
  .v-avatar .material-design-icon
  .v-image
  .v-lazy-image
  .theme--dark.v-btn:not(.v-btn--icon):not(.v-btn--flat)
  .theme--dark.v-input--slider .v-slider__track, .theme--dark.v-input--slider .v-slider__track-fill
  .theme--dark.v-chip
    background-color: $nikolai-colors.red.secondary
    // color: $nikolai-colors.red.secondary
  .card div.v-avatar::before
    border-bottom-color: $nikolai-colors.red.primary
  .theme--dark.v-divider
    border-color: $nikolai-colors.red.secondary
  .logo_svg__primary
    fill: $nikolai-colors.red.primary
  .logo_svg__secondary
    fill: $nikolai-colors.red.secondary
.green
  .theme--dark.v-expansion-panel li.v-expansion-panel__container
    background-color: $nikolai-colors.green.primary
  .v-avatar .v-avatar
  .v-avatar .material-design-icon
  .v-image
  .v-lazy-image
  .theme--dark.v-btn:not(.v-btn--icon):not(.v-btn--flat)
  .theme--dark.v-input--slider .v-slider__track, .theme--dark.v-input--slider .v-slider__track-fill
  .theme--dark.v-chip
    background-color: $nikolai-colors.green.secondary
    // color: $nikolai-colors.green.secondary
  .card div.v-avatar::before
    border-bottom-color: $nikolai-colors.green.primary
  .theme--dark.v-divider
    border-color: $nikolai-colors.green.secondary
  .logo_svg__primary
    fill: $nikolai-colors.green.primary
  .logo_svg__secondary
    fill: $nikolai-colors.green.secondary
.purple
  .theme--dark.v-expansion-panel li.v-expansion-panel__container
    background-color: $nikolai-colors.purple.primary
  .v-avatar .v-avatar
  .v-avatar .material-design-icon
  .v-image
  .v-lazy-image
  .theme--dark.v-btn:not(.v-btn--icon):not(.v-btn--flat)
  .theme--dark.v-input--slider .v-slider__track, .theme--dark.v-input--slider .v-slider__track-fill
  .theme--dark.v-chip
    background-color: $nikolai-colors.purple.secondary
    // color: $nikolai-colors.purple.secondary
  .card div.v-avatar::before
    border-bottom-color: $nikolai-colors.purple.primary
  .theme--dark.v-divider
    border-color: $nikolai-colors.purple.secondary
  .logo_svg__primary
    fill: $nikolai-colors.purple.primary
  .logo_svg__secondary
    fill: $nikolai-colors.purple.secondary
.orange
  .theme--dark.v-expansion-panel li.v-expansion-panel__container
    background-color: $nikolai-colors.orange.primary
  .v-avatar .v-avatar
  .v-avatar .material-design-icon
  .v-image
  .v-lazy-image
  .theme--dark.v-btn:not(.v-btn--icon):not(.v-btn--flat)
  .theme--dark.v-input--slider .v-slider__track, .theme--dark.v-input--slider .v-slider__track-fill
  .theme--dark.v-chip
    background-color: $nikolai-colors.orange.secondary
    // color: $nikolai-colors.orange.secondary
  .card div.v-avatar::before
    border-bottom-color: $nikolai-colors.orange.primary
  .theme--dark.v-divider
    border-color: $nikolai-colors.orange.secondary
  .logo_svg__primary
    fill: $nikolai-colors.orange.primary
  .logo_svg__secondary
    fill: $nikolai-colors.orange.secondary

div.theme--dark.v-list
  padding-top: 0
  padding-bottom: 0
  background-color: transparent

div.v-list__tile__content
  overflow: visible

div.v-tooltip__content
  box-shadow: none
  background-color: $nikolai-colors.green.secondary
  opacity: 1 !important;

.theme--dark.v-input--slider span.v-slider__ticks
label.theme--dark.v-label
.theme--dark.v-list div.v-list__tile__sub-title
div.theme--dark.v-subheader
  color: white

.v-list__tile
  line-height: 1.2

div.v-list__tile__sub-title
  font-size: 13px

div.accent--text
i.accent--text
  color: white !important
  caret-color: white !important

.v-avatar .v-avatar
.v-avatar .material-design-icon
  @supports (clip-path: polygon(0 0))
    border-radius: 0;
    clip-path: polygon(50% 0%, 93.3% 25%, 93.3% 75%, 50% 100%, 6.7% 75%, 6.7% 25%);

.v-list__tile__avatar .v-avatar .material-design-icon
  clip-path: none;
  background-color: transparent;

.v-avatar img
  @supports (clip-path: polygon(0 0))
    border-radius: 0;

.v-select-list .v-list__tile--active
  color: white !important

div.v-list__tile__action
  min-width: 46px;

.v-list__group__header div.v-list__group__header__append-icon
  padding-left: 6px;

.v-list__group__header div.v-list__group__header__prepend-icon
  padding-right: 6px;

ul.v-expansion-panel
  box-shadow: none;

button.v-btn
  border-radius: 0;

@import '~vuetify/src/stylus/app'
