@font-face {
  font: {
    family: 'Montserrat';
    style: normal;
    weight: 400;
    display: fallback;
  }

  src: local('Montserrat Regular'),
    local('Montserrat-Regular'),
    url('~assets/fonts/montserrat-400.woff2') format('woff2'),
    url('~assets/fonts/montserrat-400.woff') format('woff');
}

@font-face {
  font: {
    family: 'Montserrat';
    style: normal;
    weight: 600;
    display: fallback;
  }

  src: local('Montserrat SemiBold'),
    local('Montserrat-SemiBold'),
    url('~assets/fonts/montserrat-600.woff2') format('woff2'),
    url('~assets/fonts/montserrat-600.woff') format('woff');
}

@font-face {
  font: {
    family: 'Montserrat';
    style: normal;
    weight: 700;
    display: fallback;
  }

  src: local('Montserrat Bold'),
    local('Montserrat-Bold'),
    url('~assets/fonts/montserrat-700.woff2') format('woff2'),
    url('~assets/fonts/montserrat-700.woff') format('woff');
}

@font-face {
  font: {
    family: 'Montserrat Alternates';
    style: normal;
    weight: 700;
    display: fallback;
  }

  src: local('Montserrat Alternates Bold'),
    local('MontserratAlternates-Bold'),
    url('~assets/fonts/montserrat-alternates-700-aeft.woff2') format('woff2'),
    url('~assets/fonts/montserrat-alternates-700-aeft.woff') format('woff');
}
