@font-face {
  font: {
    family: 'Galano Grotesque';
    style: normal;
    weight: 400;
    display: fallback;
  }

  src: url('~assets/fonts/galanogrotesque-regular-webfont.woff2') format('woff2');
}

@font-face {
  font: {
    family: 'Galano Grotesque';
    style: normal;
    weight: 600;
    display: fallback;
  }

  src: url('~assets/fonts/galanogrotesque-semibold-webfont.woff2') format('woff2');
}

@font-face {
  font: {
    family: 'Galano Grotesque';
    style: normal;
    weight: 700;
    display: fallback;
  }

  src: url('~assets/fonts/galanogrotesque-bold-webfont.woff2') format('woff2');
}
